html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
  }
h1{
    font-size: 4.8rem;
    font-weight: bold;
    max-width: 100%;
    color: darkolivegreen;
    background-color: burlywood;
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h2{
    font-size: 3rem;
    font-weight: bold;
    max-width: 100%;
    color: maroon;
    background-color: #c1d8ac;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h3{
    font-size: 2rem;
    font-weight: 600;
    max-width: 100%;
    color: sienna;
    background-color: tan;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
button{
    /* display: flex;
    justify-content: center; */
    width: 300px;
    height: 60px;
    margin: 30px 10px;
    padding: auto;
    background-color: powderblue;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    text-decoration-line: none;
  }
/* button:hover{
    background-color: lavender;
    font-size: 2.0rem;
  } */
.button {
    display: flex;
    justify-content: space-around;
  }
.button-vets:hover{
  background-color: plum;
  font-size: 2.0rem;
}
.button-hotel:hover{
  background-color: lightskyblue;
  font-size: 2.0rem;
}
.button-trim:hover{
  background-color: lightpink;
  font-size: 2.0rem;
}

.href-vets{
    color: sienna;
}
.href-vets:hover{
    color: darkviolet;
}
.href-hotel{
  color: sienna;
}
.href-hotel:hover{
  color: blue;
}
.href-trim{
  color: sienna;
}
.href-trim:hover{
  color: deeppink;
}

a {
    text-decoration: none;
  }
footer{
    font-size: 1.2rem;
    color: maroon;
    text-align: center;
    margin-top: 30px;
  }
